

h1
{
    text-align: center;
    color: red;
}



   h2
   {
    text-align: center;
    color: red;
   }

   h3
   {
    text-align: center;
    color: red;
   }

   hr
   {
    width: 1300px;
   }

   img
   {
    width: 500px;
   }



   

   


